@import url("components/index.css");
@import url("components/news.css");
@import url("components/news-detail.css");
@import url("components/groups.css");
@import url("components/guide.css");
@import url("components/business.css");
@import url("components/prominent.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

li {
    list-style-type: none;
}

.fa {
    font-family: Times sans-serif;
}

.cursor {
    cursor: pointer;
}

.bs-4 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-sj-gray {
    background: #F2F4F8;
}

.text-gold {
    color: #F8A555;
}
